<!DOCTYPE html>
<html lang="en">
<head>
	<title>회원가입</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="static/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/accordion.css">
	<link rel="stylesheet" href="static/css/style.css">
<!--===============================================================================================-->

</head>
<body class="animsition">

	<!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="/Main" class="logo">
						<img src="static/images/icons/logo.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/Mycloset">AI Manager</a>
							</li>

							<li class="label1" data-label1="hot">
								<a href="/Aicodi">AI Codi</a>
							</li>
						</ul>
					</div>

					<div class="wrap-icon-header flex-w flex-r-m">
						<a href="/login" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
							<i class="zmdi zmdi-account-o"></i>
						</a>
					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="/Main"><img src="static/images/icons/logo.png" alt="IMG-LOGO"></a>
			</div>

			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<a href="/login" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10">
					<i class="zmdi zmdi-account-o"></i>
				</a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="main-menu-m">
				<li>
					<a href="/Mycloset">AI Manager</a>
				</li>

				<li><a href="/Aicodi" class="label1 rs1" data-label1="hot">AI Codi</a></li>
			</ul>
		</div>

	</header>

	<section class="sec-blog bg0 p-t-60 p-b-90">
		<div class="container">
			<div class="p-b-66">
				<h3 class="ltext-105k cl5 txt-center respon1">
					판매자 회원가입
				</h3>
			</div>

			<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
				<a><br>
				<br></a>
			</div>

			<div style="margin: 0 12% 0 15%;">
				<div class="mt-3 container store-signup">
					<div class="Confirm-business-number" style="margin: 0 13% 0 10%;">
						<p class="center mtext-kbiz cl6 bor3 m-tb-5 p-b-20">사업자 등록번호</p>

						<div class="input-group flex-w flex-r-m p-b-10">
							<input type="text" class="form-control stext-104k plh3 p-lr-18 size-204 respon70-next" style="height: 50px;" placeholder="사업자 등록번호를 입력해주세요." id="business_num" name="business_num">
						</div>

						<div class="flex-c-m p-t-12">
							<button id="certify" onclick="Confirm();" class="flex-c-m stext-106k size-104 bor4 pointer hov-btn4 trans-04 p-lr-15 m-tb-4 m-r-10">인증</button>
						</div>
					</div>

					<div class="input-business-info" style="display:none">
						<div class="form-group row">
							<label for="inputID" class="col-sm-2 col-form-label">아이디</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputID" placeholder="아이디를 입력해주세요.">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputPassword1" class="col-sm-2 col-form-label">비밀번호</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="inputPassword1" placeholder="비밀번호를 입력해주세요.">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputPassword2" class="col-sm-2 col-form-label">비밀번호 확인</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="inputPassword2" placeholder="비밀번호를 입력해주세요.">
							</div>
						</div>
						<div class="form-group row">
							<label for="phone_num" class="col-sm-2 col-form-label">핸드폰번호</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="phone_num" placeholder="핸드폰번호를 입력해주세요.">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputEmail" class="col-sm-2 col-form-label">이메일</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputEmail" placeholder="이메일를 입력해주세요.">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputbusiness_num" class="col-sm-2 col-form-label">사업자등록번호</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputbusiness_num" placeholder="사업자등록번호을 입력해주세요.">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputAddress" class="col-sm-2 col-form-label">주소</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputAddress" placeholder="주소를 입력해주세요.">
							</div>
						</div>
						<div class="flex-c-m p-t-12">
							<button type="button" onclick="signup()" class="flex-c-m stext-106k size-104 bor4 pointer hov-btn4 trans-04 p-lr-15 m-tb-4 m-r-10">가입하기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<a><br>
					<br></a>
				</div>
			</div>
		</div>
	</div>


	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="static/images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="static/images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="static/images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="static/images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="static/images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>



<!--====비밀번호 확인===================================================================================-->

 <script type="text/javascript">
    function signup() {
      var p1 = $('#inputPassword1').val()
      var p2 = $('#inputPassword2').val()

      if(p1.length < 6) {
              Swal.fire({
					icon: 'error',
					title: '다시 입력해주세요.',
					text: '비밀번호는 6글자 이상이어야 합니다.',
				})
              return false;
          }

          if( p1 != p2 ) {
            Swal.fire({
				icon: 'error',
				title: '비밀번호 불일치',
				text: '다시 입력해주세요.',
			})
            return false;
          } else{
            Swal.fire({
				icon: 'success',
				title: '가입을 완료했습니다.',
				text: '다음 화면에서 로그인해주세요.',
			}).then(function(){
				location.href='/login';
			})
            return true;
          }
    }
  </script>

<!--=====사업자 번호 진위 확인=================================================================================-->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

	<script>

		function Confirm() {
			var data = {
				"b_no": [ $('#business_num').val() ]
			   };

			$.ajax({
			  url: "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=UXpFQjQ3zQgKTMz5xCF0szSMjX9hvql8guK1Ug/Rrzu8rE5geBlEGJDq7UdVCyzbIes61SPUy0PfIGcZcL452A==",  // serviceKey 값을 xxxxxx에 입력
			  type: "POST",
			  data: JSON.stringify(data), // json 을 string으로 변환하여 전송
			  dataType: "JSON",
			  contentType: "application/json",
			  accept: "application/json",
			  success: function(result) {
				  console.log(result);
				  if (!result.match_cnt) {
				  	Swal.fire({
						icon: 'error',
						title: '조회에 실패했습니다.',
						text: '잘못 입력한 값은 없는지 확인해주세요.',
					})
				  }
				  else {
				  	Swal.fire({
						icon: 'success',
						title: '조회에 성공했습니다.',
						text: '다음 화면에서 추가 정보를 입력해주세요.',
					})
				  	$('.Confirm-business-number').hide();
				  	$('.input-business-info').show();
				  	$('#inputbusiness_num').attr('value', data['b_no']);
				  }
			  },
			  error: function(result) {
				  console.log(result.responseText); //responseText의 에러메세지 확인
			  }
			});
		}

	</script>
<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="static/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/slick/slick.min.js"></script>
	<script src="static/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="static/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

	</script>
<!--===============================================================================================-->
	<script src="static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>
	<script type="text/javascript" src="static/js/accordion.js"></script>

</body>
</html>