<!DOCTYPE html>
<html lang="en">
<head>
	<title>Store Cloth Detail check</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" href="static/css/style.css">
<!--===============================================================================================-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
<!--===============================================================================================-->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
	<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

</head>
<body class="animsition">
	<!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="/Main" class="logo">
						<img src="static/images/icons/logo.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/Mycloset">AI Manager</a>
							</li>

							<li class="label1" data-label1="hot">
								<a href="/Aicodi">AI Codi</a>
							</li>
						</ul>
					</div>

					<div class="wrap-icon-header flex-w flex-r-m">
						<a href="/SignUp" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
							<i class="zmdi zmdi-account-o"></i>
						</a>
					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="/Main"><img src="static/images/icons/logo.png" alt="IMG-LOGO"></a>
			</div>

			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<a href="/SignUp" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10">
					<i class="zmdi zmdi-account-o"></i>
				</a>
			</div>



			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="main-menu-m">
				<li>
					<a href="/Mycloset">AI Manager</a>
				</li>

				<li><a href="/Aicodi" class="label1 rs1" data-label1="hot">AI Codi</a></li>
			</ul>
		</div>

	</header>


	<!-- 전처리한 이미지 보여주기 -->
	<section class="sec-blog bg0 p-t-60 p-b-90">
		<div class="container">
			<div class="p-b-66">
				<h3 class="ltext-105 cl5 txt-center respon1">
					UPDATE
				</h3>
			</div>

			<!-- 이미지 업로드 부분 --!>
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="mt-3 container file-upload">
								<div class="image-upload-wrap hov-img0">
									<img src="static/images/cloths/{{fname}}" class="fill upload" alt="upload-image">
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--이미지 아래 사용자 입력칸-->
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon70">
									Categories
								</div>

								<div class="size-204 respon70-next">
									<div class="rs1-select2 bor8 bg0">
										<select class="js-select2 stext-104k" id="cloth_cat" name="cloth_cat" value="cloth_cat">
											<option style="color: #c9c9c9">{{cloth_cat}}</option>
											<option>Outer</option>
											<option>Top</option>
											<option>Bottom</option>
											<option>One-Piece</option>
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div>



							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon70">
									Color
								</div>
									<div class="size-204 respon70-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2 stext-104k" id="color_cat" name="color_cat" value="color_cat">
												<option style="color: #c9c9c9" >{{color_cat}}</option>
												<option>화이트</option>
												<option>그레이</option>
												<option>블랙</option>
												<option>베이지</option>
												<option>브라운</option>
												<option>네이비</option>
												<option>블루</option>
												<option>스카이블루</option>
												<option>핑크</option>
												<option>라벤더</option>
												<option>퍼플</option>
												<option>와인</option>
												<option>카키</option>
												<option>민트</option>
												<option>그린</option>
												<option>와인</option>
												<option>레드</option>
												<option>오렌지</option>
												<option>옐로우</option>
												<option>실버</option>
												<option>골드</option>
												<option>네온</option>
											</select>
											<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div>

							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon70">
									Season
								</div>

								<div class="size-204 respon70-next">
									<label class="add-cloth-button stext-104k">
										<input type="radio" name="season" value="봄" style="display:none" />
										<span class="add-cloth-onoff-switch">봄</span>
									</label>
									<label class="add-cloth-button stext-104k">
										<input type="radio" name="season" value="여름" style="display:none" />
										<span class="add-cloth-onoff-switch">여름</span>
									</label>
									<label class="add-cloth-button stext-104k">
										<input type="radio" name="season" value="가을" style="display:none" />
										<span class="add-cloth-onoff-switch">가을</span>
									</label>
									<label class="add-cloth-button stext-104k">
										<input type="radio" name="season" value="겨울" style="display:none" />
										<span class="add-cloth-onoff-switch">겨울</span>
									</label>
								</div>
							</div>

							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon70">
									Favor
								</div>

								<div class="size-204 respon70-next">
									<label class="add-cloth-button stext-104k">
										<input type="radio" name="favor" value="1" style="display:none" />
										<span class="add-cloth-onoff-switch">1</span>
									</label>
									<label class="add-cloth-button stext-104k">
										<input type="radio" name="favor" value="2" style="display:none" />
										<span class="add-cloth-onoff-switch">2</span>
									</label>
									<label class="add-cloth-button stext-104k">
										<input type="radio" name="favor" value="3" style="display:none" />
										<span class="add-cloth-onoff-switch">3</span>
									</label>
									<label class="add-cloth-button stext-104k">
										<input type="radio" name="favor" value="4" style="display:none" />
										<span class="add-cloth-onoff-switch">4</span>
									</label>
									<label class="add-cloth-button stext-104k">
										<input type="radio" name="favor" value="5" style="display:none" />
										<span class="add-cloth-onoff-switch">5</span>
									</label>
								</div>
							</div>

							<div class="input-group flex-w flex-r-m p-b-10">
								<div class="input-group-prepend size-203 flex-c-m respon70">
									<span class="input-group-text">cost</span>
								</div>
								<input type="text" class="form-control stext-104k plh3 p-lr-18 size-204 respon70-next" style="height: 50px;" placeholder="옷의 판매가를 입력해주세요" id="cost" name="cost" value="{{cost}}">
							</div>

							<div class="input-group flex-w flex-r-m p-b-10">
								<div class="input-group-prepend size-203 flex-c-m respon70">
									<span class="input-group-text">count</span>
								</div>
								<input type="text" class="form-control stext-104k plh3 p-lr-18 size-204 respon70-next" style="height: 50px;" placeholder="옷의 판매 가능 수량을 입력해주세요" id="count" name="count" value="{{count}}">
							</div>

							<div class="input-group flex-w flex-r-m p-b-10">
								<div class="input-group-prepend size-203 flex-c-m respon70">
									<span class="input-group-text">description</span>
								</div>
								<input type="text" class="form-control stext-104k plh3 p-lr-18 size-204 respon70-next" style="height: 50px;" placeholder="옷의 상세 설명에 대해 입력해주세요" id="description" name="description" value="{{description}}">
							</div>

							<input type="hidden" id="fname" name="fname" value="{{fname}}">

							<div class="flex-w flex-r-m p-tb-10">
								<div class="flex-w flex-m" style="margin:0 auto;">
									<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04" onclick="Confirm();">
										add
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns 
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="static/images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="static/images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="static/images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="static/images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="static/images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


<!--====== add button confirm ===================================================================================-->
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script type="text/javascript">
	var alert = function(msg, type) {
		swal({
			title : '',
			text : msg,
			type : type,
			timer : 1500,
			customClass : 'sweet-size',
			showConfirmButton : false
		});
	}

	function Confirm() {
		var fname = $('#fname').val();
		var cloth_cat = $('#cloth_cat').val();
		var color_cat = $('#color_cat').val();
		var Season = $("input:radio[name='season']:checked").val();
		var Favor = $("input:radio[name='favor']:checked").val();
		var cost = $('#cost').val();
		var count = $('#count').val();
		var Description = $('#description').val();

		var postdata = {
			'fname': fname,
			'cloth_cat': cloth_cat,
			'color': color_cat,
			'season': Season,
			'favor': Favor,
			'cost' : cost,
			'count' : count,
			'description': Description,
		}


		Swal.fire({
			title: '내 상점에 옷 추가하기',
			icon: 'info',
			text: "지금 입력한 내용으로 저장하시겠습니까?",

			showDenyButton: true,
			confirmButtonText: '저장',
			denyButtonText: `취소`,

        })
        .then((result) => {
          if (result.isConfirmed) {

              $.ajax({
				type: 'POST',
				url: '{{url_for("storeclothadd")}}',
				data: JSON.stringify(postdata),
				dataType : 'JSON',
				contentType: "application/json",
				success: function(data){
					Swal.fire({
						icon: 'success',
						title: '저장에 성공했습니다.',
						text: '확인을 누르시면 내 상점으로 이동합니다.',
					}).then(function(){
						location.href='/StoreCloset';
					})
				},
				error: function(request, status, error){
					Swal.fire({
						icon: 'error',
						title: '저장에 실패했습니다.',
						text: '다시 시도해주세요.',
					})
				}
			})
          } else {
          }
        });
	}
</script>

<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="static/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/slick/slick.min.js"></script>
	<script src="static/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="static/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>

</body>
</html>